In [1]:
import pandas as pd

df = pd.read_csv('./000660.csv', encoding='cp949')

In [2]:
df

,Unnamed: 0,날짜,시간,시가,고가,저가,종가,거래량,code,MA5,MA20,MA60,MA120,Upper_Band,Lower_Band,day_name,매도량,매수량
0,2022-08-19 09:01:00,20220819,901,97000,97000,96500,96800,99206,660,NaN,NaN,NaN,NaN,NaN,NaN,Friday,11919.0,87281.0
1,2022-08-19 09:02:00,20220819,902,96800,97200,96700,97000,55648,660,NaN,NaN,NaN,NaN,NaN,NaN,Friday,15861.0,39787.0
2,2022-08-19 09:03:00,20220819,903,97100,97100,96200,96200,37596,660,NaN,NaN,NaN,NaN,NaN,NaN,Friday,17740.0,19856.0
3,2022-08-19 09:04:00,20220819,904,96200,96400,96100,96300,28194,660,NaN,NaN,NaN,NaN,NaN,NaN,Friday,15239.0,12955.0
4,2022-08-19 09:05:00,20220819,905,96300,96500,96100,96400,19232,660,96540.0,NaN,NaN,NaN,NaN,NaN,Friday,8216.0,11016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186835,2024-08-19 15:16:00,20240819,1516,193100,193200,193100,193200,11360,660,193140.0,192995.0,193810.00,194504.17,193370.44,192619.56,Monday,7343.0,4017.0
186836,2024-08-19 15:17:00,20240819,1517,193200,193200,192900,193000,32191,660,193120.0,193005.0,193778.33,194476.67,193369.05,192640.95,Monday,26959.0,5232.0
186837,2024-08-19 15:18:00,20240819,1518,192900,193000,192800,192800,9585,660,193040.0,193000.0,193746.67,194448.33,193372.77,192627.23,Monday,6745.0,2840.0
186838,2024-08-19 15:19:00,20240819,1519,192800,193100,192800,193000,16917,660,193020.0,193000.0,193713.33,194421.67,193372.77,192627.23,Monday,4646.0,12271.0
186839,2024-08-19 15:20:00,20240819,1520,193100,193300,193000,193200,16560,660,193040.0,193035.0,193685.00,194398.33,193334.30,192735.70,Monday,5821.0,10739.0